<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Smrf.NodeXL.GraphMLFileProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <Smrf.NodeXL.GraphMLFileProcessor.Properties.Settings>
            <setting name="SleepPeriodSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AutomationTimeoutSeconds" serializeAs="String">
                <value>1200</value>
            </setting>
        </Smrf.NodeXL.GraphMLFileProcessor.Properties.Settings>
    </applicationSettings>

    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>

                <!--
                <add name="LogFile"
                    type="System.Diagnostics.TextWriterTraceListener"
                    initializeData="C:\NodeXLGraphMLFileProcessorLog.txt" />
                -->

            </listeners>
        </trace>
    </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
