*.cache
*.dll
*.suo
*.exe
*.exe.manifest
*.FileListAbsolute.txt
build.force
*.pdb
*.resources
*.exe.config
*.dll.manifest
*.lastcodeanalysissucceeded
Src/NodeXL/*/bin/Debug/*.vsto
Src/NodeXL/*/bin/Debug/*.xml
Src/NodeXL/*/bin/Debug/*.xltx
Src/NodeXL/*/bin/Debug/*.chm
Src/NodeXL/*/bin/Debug/DeployedTemplate/*.xltx
Src/NodeXL/*/bin/Debug/SplashScreen/*.png
Src/NodeXL/*/bin/Debug/SplashScreen/*.htm
Src/NodeXL/*/bin/Debug/*/*.jpg
Src/NodeXL/*/bin/Debug/*/Images/*.jpg
Src/NodeXL/*/bin/Debug/*/*.graphml
Src/NodeXL/*/bin/Debug/*/*/*.graphml
Src/NodeXL/ExcelTemplate/*.pfx
